body{
    padding-bottom: 500px;
}
div{
    margin-top: 10px;
    /* color: blue; */
}

div input, div label{
    display: block;
}

.radio label, .radio input, .raio span{
    display: inline-block;
}